
/* Opmaak content */
#contenttitle h1 {
    color: red;
}
#contenttitle img {
    margin: 0.5em 0;    
}
#foto {
    margin-left: 5em;
    margin-top: 3em;
    overflow: hidden;
    width:70%;
}
#foto img {
    margin-right: 1em;
    float: left;
}
#bold {
    color: #808080;
}
#kader {
    color: red; 
    margin: 0 5em 2em 5em;
    padding: 0 2em 0 2em;   
    border: 1px solid red;
}